
part2/countries/.env
part2/phonebook/db.json
part4/bloglist/.env
part4/bloglist/node_modules
part5/bloglist-frontend/node_modules
part6/unicafe-redux-main/node_modules
part6/redux-anecdotes/node_modules
part6/redux-anecdotes/db.json
part6/redux-anecdotes-connect/node_modules